altgraph==0.17
asgiref==3.7.2
backports.zoneinfo==0.2.1
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
chromedriver-binary==88.0.4324.27.1
cryptography==40.0.2
DateTime==4.3
defusedxml==0.7.1
diff-match-patch==20200713
Django==4.2.3
django-allauth==0.45.0
django-bootstrap-datepicker-plus==4.0.0
django-debug-toolbar==3.1
django-import-export==2.7.1
django-mathfilters==1.0.0
dnspython @ git+https://github.com/rthalley/dnspython@86cd2335a3c029c930d837dcc0800de667c07338
et-xmlfile==1.0.1
future==0.18.2
idna==3.3
import-export==0.3.1
jdcal==1.4.1
lxml==4.5.2
MarkupPy==1.14
oauthlib==3.1.1
odfpy==1.4.1
openpyxl==3.0.6
paypal-checkout-serversdk==1.0.1
paypalhttp==1.0.1
pefile==2019.4.18
Pillow==8.1.0
psycopg2-binary==2.9.2
pycparser==2.20
pyinstaller==4.2
pyinstaller-hooks-contrib==2020.11
PyJWT==2.3.0
PyMySQL==1.1.2
pyOpenSSL==23.1.1
python-dateutil==2.8.2
python-docx==0.8.10
python3-openid==3.2.0
pytz==2020.5
pywin32-ctypes==0.2.0
PyYAML==6.0
requests==2.26.0
requests-oauthlib==1.3.0
selenium==3.141.0
six==1.16.0
sqlparse==0.4.1
stripe==2.70.0
tablib==3.2.0
ttkthemes==3.2.2
typing_extensions==4.7.1
tzdata==2023.3
urllib3==1.25.10
xlrd==2.0.1
xlwt==1.3.0
zope.interface==5.2.0
gunicorn