{% extends 'base.html' %}
{% block title %}ログイン画面{% endblock %}
{% block active_login %}active{% endblock %}

{% block head %}
    {% load static %}
    <link href="{% static 'css/login.css' %}?v=2" rel="stylesheet">
{% endblock %}

{% block contents %}
<div class="login-page">
    <div class="login-card">
        <h1>Bonus System</h1>
        <form method="post" action="{% url 'account_login' %}">
            {% csrf_token%}
            <div class="form-item">{{ form.login }}</div>
            <div class="form-item">{{ form.password }}</div>
            <div class="form-text">ログインしたままにする {{ form.remember }}</div>
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <div class="button-panel">
                <input type="submit" class="button" title="Log In" value="ログイン">
            </div>
        </form>
        <div class="form-footer">
        </div>
    </div>
</div>
{% endblock %}
