{% extends 'base.html' %}
{% block title %}パスワードリセット画面{% endblock %}
{% block active_login %}active{% endblock %}

{% block head %}
    {% load static %}
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock %}

{% block contents %}
<div class="container my-mt">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h1 class="password-reset-h1">パスワードリセット</h1>
            <div class="text-danger">
                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
            </div>
            <p>パスワードリセット用メールを送信します。</p>
            <form class="password-reset-form" method="post" action="{% url 'account_reset_password' %}">
                {% csrf_token %}
                <p>
                    <label for="id_email">メールアドレス:</label>
                    <input type="email" name="email" placeholder="メールアドレス" autocomplete="email" maxlength="320" required="" id="id_email">
                </p>
                <button class="btn btn-primary" type="submit">送信</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
