.dropdown-item:hover,
.dropdown-item:focus {
    background-color: darkgray !important;
    color: black !important;
}

.card-group > .card {
    border: 1px solid rgba(0, 0, 0, .125) !important;
}

.my-btn1 {
    color: #fff !important;
    background-color: #ee0979 !important;
    border-color: #ee0979 !important;
    width: 131px;
    height: 41px;
}

body, #wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
}

.my-mt {
    margin-top: 3.5rem;
    margin-bottom: 50px !important;
}

.messages-container {
    position: fixed;
    top: 56px;
    left: 0;
    right: 0;
    width: 100%;
}

.my-modal-class {
    top: 20% !important;
}

footer > P {
    color: #5e5e5e;
}

.alert-container{
  position: fixed;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  width: min(90vw, 900px);
}

.alert-container .alert{
  margin-bottom: 10px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.brand-saas {
  margin-bottom: 5px !important;
  color: blanchedalmond !important;
  font-size: 23.5px !important;
  line-height: 1 !important;
  letter-spacing: 0.5px !important;
}

.alert-success {
 height: 51px !important;
}