{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>


    <link href="{% static 'css/base_style.css' %}" rel="stylesheet"/>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap.min.css' %}" rel="stylesheet"/>
    <!-- Bootstrap JS -->
    <script src="{% static 'vendor/bootstrap.bundle.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% block head %} {% endblock %}
</head>
<body>
<div id="wrapper">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3">
        <a class="navbar-brand brand-saas" href="#">
            <span class="logo-box"></span>
            Bonus System
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto"> <!-- ml-autoを追加 -->
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'connect:title_user' %}">会員検索 </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="">注文情報 </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'connect:s_drive_bonus' %}">ボーナス検索 </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'connect:drive_bonus' %}">ボーナス計算 </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'connect:kibetu' %}">設定 </a>
                </li>

<!--                <li class="nav-item {% block active_inquiry %}{% endblock%}">-->
<!--                    <a class="nav-link" href="{% url 'connect:inquiry' %}">Info </a>-->
<!--                </li>-->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_logout' %}">Log Out </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link {% block active_home %}{% endblock%}" href="{% url 'account_login' %}">Log In </a>
                </li>
                {% endif %}

<!--                                        {% if not user.is_authenticated %}-->
<!--                                        <li class="nav-item">-->
<!--                                            <a class="nav-link" href="#">LOGIN </a>-->
<!--                                        </li>-->
<!--                                        {% endif %}-->
<!--                                        {% if user.is_authenticated %}-->
<!--                                        <li class="nav-item">-->
<!--                                            <a class="nav-link" href="#">LOG OUT </a>-->
<!--                                        </li>-->
<!--                                        {% endif %}-->
            </ul>
        </div>
    </nav>
                <div class="container messages-container">
                    <div class="row">
                        <div class="w-100">
                            <ul class="messages" style="list-style-type: none; padding-left: 0rem;">
                                {% for message in messages %}
                                    <li {% if message.tags %} class="{{ message.tags}}" {% endif %}>
                                        {{ message }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
    {% block contents %}{% endblock %}
    <!-- Footer-->
    <footer class="py-3 bg-black text-center">
        <footer>
            <!-- フッター情報やコピーライトなどをここに追加します -->
            <p>&copy; 2026 Bonus System. All rights reserved.</p>
        </footer>
    </footer>
</div>
</body>
</html>

<script>
document.addEventListener("DOMContentLoaded", function(){

    setTimeout(function(){

        document.querySelectorAll(".alert-success").forEach(function(el){
            el.style.transition="opacity 0.5s";
            el.style.opacity="0";

            setTimeout(function(){
                el.remove();
            },500);

        });

    },3500);

});
</script>