{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}プラン一覧{% endblock %}

{% block head %}
<link href="{% static 'css/plan_list.css' %}" rel="stylesheet">
{% endblock %}

{% block contents %}
<div class="container my-mt">
    <div class="container card-container col-12 col-lg-10 col-xl-8">
        <div class="re-search-container">
            <a href="" class="re-search-btn">条件を変更</a>
        </div>
        <hr>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 gy-4 mt-3">
            {% for plan in plan_list %}
            <div>
                {% if plan.plan_name.is_vip %}
                <div class="card add-vipplan-text p-0" onclick="redirectToPlanDetail('{{ plan.pk }}')">
                {% else %}
                <div class="card p-0" onclick="redirectToPlanDetail('{{ plan.pk }}')">
                {% endif %}
                    {% if plan.plan_name.is_vip %}
                    <span class="vip-icon-class">
                        <img class="" src="{% static 'imgs/icons/vip3.png' %}" alt="...">
                    </span>
                    {% endif %}
                    <img class="m-1 plan-main-img" src="{% static 'imgs/room.jpg' %}" alt="...">
                    <div class="card-body py-1">
                        {% if plan.pk in favorite_list %}
                            <span data-bs-toggle="popover" data-bs-content="ポップオーバーの内容">
                                <svg id="heart-icon-{{ plan.pk }}" class="bi bi-heart" onclick="handleClick('{{ plan.pk }}')" xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="red" stroke="red" stroke-width="0.8" viewBox="0 0 16 16">
                                    <path d="M8 2.748L7.283 2.011C6.6 .281 3.514 .878 2.4 3.053c-.523 1.023-.641 2.5 .314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357 .955-1.886 .838-3.362 .314-4.385C13.486 .878 10.4 .28 8.717 2.01z"/>
                                </svg>
                            </span>
                        {% else %}
                            <span data-bs-toggle="popover" data-bs-content="ポップオーバーの内容">
                                <svg id="heart-icon-{{ plan.pk }}" class="bi bi-heart" onclick="handleClick('{{ plan.pk }}')" xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="white" stroke="red" stroke-width="0.8" viewBox="0 0 16 16">
                                    <path d="M8 2.748L7.283 2.011C6.6 .281 3.514 .878 2.4 3.053c-.523 1.023-.641 2.5 .314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357 .955-1.886 .838-3.362 .314-4.385C13.486 .878 10.4 .28 8.717 2.01z"/>
                                </svg>
                            </span>
                        {% endif %}
                        <h1 class="card-title my-2">{{ plan.plan_name }}</h1>
                        <div class="plan-address-flame">
                            <span>{{ plan.plan_name.place }}</span> | <span>{{ plan.start_time|date:"n/j" }}</span> <span>({{ plan.start_time|date:"D" }})</span>　<span>{{ plan.start_time|date:"H:i" }} ~</span>
                        </div>
                        <hr>
                        <div class="card-price-content">
                            <div class="sub-price-content">
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#3a9ddb" class="bi bi-person-standing" viewBox="0 0 16 16">
                                        <path d="M8 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3M6 6.75v8.5a.75.75 0 0 0 1.5 0V10.5a.5.5 0 0 1 1 0v4.75a.75.75 0 0 0 1.5 0v-8.5a.25.25 0 1 1 .5 0v2.5a.75.75 0 0 0 1.5 0V6.5a3 3 0 0 0-3-3H7a3 3 0 0 0-3 3v2.75a.75.75 0 0 0 1.5 0v-2.5a.25.25 0 0 1 .5 0"/>
                                    </svg>
                                </div>
                                <div>
                                    <span class="price-item">{{ plan.plan_name.male_price|intcomma }}</span>
                                    <span class="yes-item"> 円</span>
                                </div>
                            </div>
                            <div class="sub-price-content">
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-person-standing" viewBox="0 0 16 16">
                                        <path d="M8 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3M6 6.75v8.5a.75.75 0 0 0 1.5 0V10.5a.5.5 0 0 1 1 0v4.75a.75.75 0 0 0 1.5 0v-8.5a.25.25 0 1 1 .5 0v2.5a.75.75 0 0 0 1.5 0V6.5a3 3 0 0 0-3-3H7a3 3 0 0 0-3 3v2.75a.75.75 0 0 0 1.5 0v-2.5a.25.25 0 0 1 .5 0"/>
                                    </svg>
                                </div>
                                <div>
                                    <span class="price-item">{{ plan.plan_name.female_price|intcomma }}</span>
                                    <span class="yes-item"> 円</span>
                                </div>
                            </div>
                        </div>
                        <p class="card-text plan-description my-2">{{ plan.plan_name.description }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<script src="{% static 'js/plan_list.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    function handleClick(planId) {
        $.ajax({
            'url': '{% url "connect:add_favorite_to_db" %}',
            'type': 'POST',
            'data': {
                'plan_id': planId,
            },
            'dataType': 'json'
        })
        .done(function(response){
            if (response.status === 'success') {
                const heartIcon = document.querySelector(`#heart-icon-${planId}`);

                if (!heartIcon) {
                    console.error(`Element with ID 'heart-icon-${planId}' not found.`);
                    return;
                }

                // 現在の fill 色を取得
                const currentColor = heartIcon.getAttribute('fill');

                // 赤色の場合は色を消去する
                heartIcon.setAttribute('fill', currentColor === 'red' ? 'white' : 'red');
            } else {
                alert("登録もしくは、ログインして下さい！")
            }
        });
    }
</script>
{% endblock %}
