{% extends 'base.html' %}
{% load static %}

{% block contents %}

<div class="container mt-4">

    <h4 class="mb-3">期別一覧</h4>

    <table class="table table-bordered table-striped table-hover">
        <thead class="thead-dark">
        <tr>
            <th>ユーザーID</th>
            <th>group_code</th>
            <th>jmoa_code</th>
            <th>ユーザー名</th>
            <th>タイトル</th>
            <th>備考</th>
        </tr>
        </thead>
        <tbody>
        {% for obj in object_list %}
        <tr>
            <td>{{ obj.user_id }}</td>
            <td>{% if obj.user %}{{ obj.user.group_code }}{% endif %}</td>
            <td>{% if obj.user %}{{ obj.user.jmoa_code }}{% endif %}</td>
            <td>{% if obj.user %}{{ obj.user.send_bv_name }}{% endif %}</td>
            <td>{% if obj.title %}{{ obj.title.title_name }}{% endif %}</td>
            <td>{{ obj.bonus_period }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6" class="text-center">データがありません</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>


    {% include "com/page_number.html" %}

</div>

{% endblock %}
