{% load access_tags %}
<nav class="col-12 col-md-3 col-lg-2">
  <div class="card shadow-sm position-sticky" style="top: 1rem;">
    {% if user_access|can_menu:"s_week_bonus" or user_access|can_menu:"s_month_bonus" %}
    <div class="card-body">
      <div class="fw-bold mb-2">【合計実績】</div>

      <div class="list-group">
        {% if user_access|can_menu:"s_week_bonus" %}
        <a class="list-group-item list-group-item-action {% if active_menu == 'week_bonus' %}active{% endif %}"
           href="{% url 'connect:s_week_bonus' %}">week</a>
        {% endif %}

        {% if user_access|can_menu:"s_month_bonus" %}
        <a class="list-group-item list-group-item-action {% if active_menu == 's_month_bonus' %}active{% endif %}"
           href="{% url 'connect:s_month_bonus' %}">month</a>
        {% endif %}
      </div>
    </div>
    {% endif %}
  </div>
</nav>
